* {
  margin: 0;
  font-family: Cairo, sans-serif;
  font-family: Montserrat, sans-serif;
}

:root {
  --primary-color: #33b2c3;
  --secondary-color: #15a184;
  --third-color: #f0644b;
  --light-color: #ffffff;
  --dark-color: #000000;
  --gray-color: #808080;
  --primary-filter: invert(78%) sepia(55%) saturate(746%) hue-rotate(145deg)
    brightness(87%) contrast(92%);
}

.flex-data {
  display: flex;
  align-items: center;
  align-content: center;
}

.global-section {
  width: 100%;
  padding: 90px 0;
  position: relative;
  z-index: 9;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  width: 100%;
  padding: 20px 0;
  background-color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.collapse {
  transform: translateX(550px);
}

.navbar .contain {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar .contain .brand-name {
  font-size: 30px;
  font-weight: 900;
}

.navbar .contain .navbar-nav {
  gap: 20px;
}

.navbar .contain .navbar-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-color);
  text-transform: capitalize;
}

.navbar .contain .navbar-nav li a:hover {
  color: var(--secondary-color);
}

.nav-link {
  position: relative;
  padding: 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -9px;
  transition: 0.4s;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  width: 0%;
  right: 0;
  top: -9px;
  transition: 0.4s;
}

.nav-link:hover::before {
  width: 50%;
}

.header {
  width: 100%;
  padding: 200px 0 150px;
  background: url(../images/intro/header.webp) center / cover no-repeat;
  z-index: 9;
  position: relative;
  display: block;
}

.header .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

  text-align: center;
}

.header .contain h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--light-color);
  margin-bottom: 20px;
}

.header .contain h2 {
  font-size: 35px;
  font-weight: 700;
  color: var(--light-color);
  margin-bottom: 20px;
}

.header .contain p {
  font-size: 24px;
  font-weight: 500;
  color: var(--light-color);
  margin-bottom: 20px;
}

.header .container .text-box {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-color);
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
  z-index: -1;
}

.header .container .text-button {
  background-color: transparent;
  color: var(--light-color);
  font-size: 10px;
  font-weight: 500;
  padding: 10px;
  position: relative;
  z-index: 99;
  text-align: center !important;
}

.header .container .text-button::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 0%;
  left: 0;
  bottom: 0;
  height: 35px;
  z-index: -1;
  transition: all 0.2s;
}

.header .container .text-button:hover::after {
  width: 100%;
}

.header .container .text-button:hover {
  cursor: pointer;
}

.header .container .email {
  z-index: 999;
  background-color: var(--light-color);
  width: 60%;
  padding: 5px 30px !important;
}

.why-chose .container {
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  padding: 10px 0 100px;
}

.card-body h2 {
  font-size: 12px !important;
  text-align: center;
  font-weight: 900;
}

.card-text {
  text-align: center;
  margin: 0 auto;
}

.whychose-button {
  background-color: transparent;
  color: var(--dark-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  position: relative;
  z-index: 99;
  border-color: var(--primary-color);
  border-radius: 5px;
  margin-top: 20px;
  transform: translateX(60px);
}

.whychose-button::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 0%;
  left: 0;
  bottom: 0;
  height: 25px;
  z-index: -1;
  transition: all 0.2s;
}

.whychose-button:hover:after {
  width: 100%;
}

.whychose .container {
  flex-direction: row;
  gap: 15px;
  width: 70%;
  margin: 0 auto;
  padding: 90px 0;
  gap: 100px;
}

.whychose-cards {
  flex-wrap: nowrap;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.why-chose .box {
  text-align: center;
  margin: 50px 0;
}

.why-chose .box h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
}

.why-chose .box p {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 700;
  width: 70%;
  margin: 0 auto;
}

.features {
  /*padding-top: 90px;*/
  background-color: #3a3f43;
  height: 700px;
}

.amazing-features {
  text-align: center;
}

.amazing-features h1 {
  font-size: 30px;
  color: var(--light-color);
  font-weight: 700;
}

.amazing-features p {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-color);
}

.graphic {
  z-index: 999;
  transform: translateY(120px);
}

.author {
  background-color: var(--primary-color);
  padding-top: 50px;
}

.author-name {
  display: flex;
  flex-direction: column;
}

.quote {
  display: flex;
  flex-direction: row;
  gap: 50px;
  transform: translateX(100px);
}

.quote-text {
  width: 50%;
  margin: 0 auto;
  transform: translate(250px, -100px);
  color: var(--light-color);
}

.quote img {
  border-radius: 50%;
  border: 3px solid var(--light-color);
  padding: 5px;
  transform: translateY(40px);
}

.quote p {
  transform: translateY(60px);
  color: var(--light-color);
}

.line {
  width: 1px;
  height: 150px;
  background-color: var(--light-color);
}

.arrows p {
  color: var(--light-color);
  font-weight: 500;
}

.arrow1 {
  transform: translate(700px, -510px);
}

.arrow1-p {
  transform: translate(810px, -560px);
}

.arrow2 {
  transform: translate(870px, -510px);
}

.arrow2-p {
  transform: translate(985px, -560px);
}

.arrow3 {
  transform: translate(1050px, -510px);
}

.arrow3-p {
  transform: translate(1160px, -560px);
}

.arrow4 {
  transform: translate(1050px, -360px);
}

.arrow4-p {
  transform: translate(1180px, -375px);
}

.arrow5 {
  transform: translate(550px, -450px);
}

.arrow5-p {
  transform: translate(350px, -470px);
}

.arrow6 {
  transform: translate(400px, -890px);
}

.arrow6-p {
  transform: translate(270px, -940px);
}

.icon {
  filter: var(--primary-filter);
}

.passionate-1 {
  display: flex;
  flex-direction: row;
}

.smart-design .container {
  display: flex;
  flex-direction: row;
}

.custom {
  font-size: 10px !important;
}

.passionate {
  transform: translate(50px, 100px);
}

.passionate-col {
  transform: translate(650px, -120px);
}

.passionate-col p {
  transform: translate(10px, 10px);
}

.smart-design p {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 700;
}

.smart-design h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--gray-color);
}

.line-2 {
  height: 1px;
  width: 90%;
  background-color: var(--gray-color);
  padding-top: 0;
  transform: translate(100px, -20px);
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 35px;
  transform: translateX(550px);
}

.logo-1:hover {
  transition: 0.4s;
  transform: translateY(-10px);
}

.showcase {
  background-color: #3a3f43;
  padding: 50px 0;
  margin-top: 20px;
}
.showcase .contain {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.showcase-work {
  border: solid 6px #222324;
}

.showcase-work:hover{
  transition: 0.6s;
  transform: translateY(-10px);
}

.showcase-speech {
  text-align: center;
  margin-bottom: 25px;
}

.showcase-speech h1 {
  color: var(--light-color);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.showcase-speech p {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
}

.numbers {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  background-color: #343637;
}

.number-1 {
  display: flex;
  flex-direction: row;
  transform: translate(300px, 7px);
  color: var(--light-color);
}

.number-2 {
  display: flex;
  flex-direction: row;
  transform: translate(350px, 7px);
  color: var(--light-color);
}

.number-3 {
  display: flex;
  flex-direction: row;
  transform: translate(430px, 10px);
  color: var(--light-color);
}

.number-4 {
  display: flex;
  flex-direction: row;
  transform: translate(500px, 10px);
  color: var(--light-color);
}

.news {
  background-color: #f0f0f0;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 25px;
  transform: translateX(50px);
}

.cards-1 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 10px;
  transform: translateX(50px);
}

.news .container {
  display: flex;
  flex-direction: column;
  padding: 90px;
}

.news .container h1 {
  color: var(--gray-color);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.news .container p {
  font-size: 16px;
  color: var(--gray-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}

.news .container h5 {
  color: var(--primary-color);
}

.card:hover {
  transition: 0.7s;
  transform: translateY(-10px);
}

.designed .container {
  background: url(../images/Designed/header.webp) center / cover no-repeat;
  padding: 200px;
}

.designed .container h2 {
  color: var(--light-color);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  transform: translateY(-50px);
}

.designed .container p {
  text-align: center;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  transform: translateY(-50px);
}

.Designed-buttons {
  text-align: center;
}

.button-1 {
  background-color: transparent;
  border-radius: 5px;
  color: var(--dark-color);
  border-color: var(--light-color);
  padding: 5px;
  font-size: 10px;
}

.button-1:hover {
  background-color: var(--light-color);
}

.button-2 {
  background-color: transparent;
  border-radius: 5px;
  color: var(--dark-color);
  border-color: var(--light-color);
  padding: 5px;
  font-size: 10px;
}

.button-2:hover {
  background-color: var(--light-color);
}

.cards-5 {
  width: 100%;
  padding: 100px 0;
}

.head-1 {
  text-align: center;
  margin-bottom: 30px;
}

.card-15 {
  width: 100%;
  gap: 20px;
  border: solid 1px rgba(128, 128, 128, 0.512);
  text-align: left;
  align-items: center;
  padding: 0;
}

.card-15:hover {
  transition: 0.7s;
  transform: translateY(-10px);
}

.list-item {
  gap: 25px;
  margin-bottom: 25px;
  position: relative;
  transform: translateX(10px);
}

.card-15 .plan-price-1 {
  background-color: var(--primary-color);
  padding: 20px 20px;
  font-size: 28px;
  font-weight: 700;
  color: var(--light-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-15 .plan-price-2 {
  background-color: var(--secondary-color);
  padding: 20px 20px;
  font-size: 28px;
  font-weight: 700;
  color: var(--light-color);
  text-align: center;
}

.card-15 .plan-price-3 {
  background-color: var(--third-color);
  padding: 20px 20px;
  font-size: 28px;
  font-weight: 700;
  color: var(--light-color);
  text-align: center;
}

.list-item::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--gray-color);
  opacity: 0.6;
  left: 10px;
  bottom: -4px;
  transform: translateX(-19px);
}

.card-5 {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  gap: 20px;
  right: 50px;
}

.cancel {
  filter: invert(68%) sepia(45%) saturate(7108%) hue-rotate(332deg)
    brightness(99%) contrast(91%);
  transform: translateX(120px);
}

.check {
  filter: invert(45%) sepia(19%) saturate(2742%) hue-rotate(126deg)
    brightness(101%) contrast(84%);
  transform: translateX(120px);
}

.card-1-button {
  background-color: var(--primary-color);
  transform: translateX(80px);
  font-weight: 500 !important;
  font-size: 15px;
  padding: 5px 25px;
  border-color: transparent;
  color: var(--light-color);
}

.card-2-button {
  background-color: var(--secondary-color);
  transform: translateX(80px);
  font-weight: 500 !important;
  font-size: 15px;
  padding: 5px 25px;
  border-color: transparent;
  color: var(--light-color);
}

.card-3-button {
  background-color: var(--third-color);
  transform: translateX(80px);
  color: var(--light-color);
  font-weight: 500 !important;
  font-size: 15px;
  padding: 5px 25px;
  border-color: transparent !important;
}

.logos-5 {
  background-color: #f0f0f0;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-around;
}

.touch {
  background-color: #3a3f43;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.touch h2 {
  color: var(--light-color);
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.touch p {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

textarea {
  resize: none;
  background-color: transparent;
  border: 2px solid var(--light-color);
  padding: 5px;
}

.full-name {
  background-color: transparent;
  border: 2px solid var(--light-color);
  padding: 5px;
}

.full-name:hover {
  border-color: var(--primary-color);
}

.area:hover {
  border-color: var(--primary-color);
}

.Get-in-touch {
  padding: 90px 90px;
}

.send {
  width: 50%;
  margin: 10px auto;
  background-color: transparent;
  padding: 5px;
  position: relative;
  z-index: 99;
}

.send:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 0%;
  left: 0;
  bottom: 0;
  height: 35px;
  z-index: -1;
  transition: all 0.5s;
}

.send:hover::after {
  width: 100%;
}

.me {
  color: var(--primary-color);
}
.footer {
  text-align: center;
  background-color: #303539;
  padding: 20px;
}

.footer p {
  color: var(--light-color);
}

.register {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
